.alternate{
    &--title{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.103101px;
        text-align: center;
        margin-bottom:20px;
        position:relative;
        z-index:1;

        &::before{
            content:" ";
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            left:0px;
            width:80px;
            z-index:-1; 
            height: 2px;
            background: #fff;
        }

        &::after{
            content:" ";
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            right:0px;
            width:80px;
            z-index:-1; 
            height: 2px;
            background: #fff;
        }

        span{
            padding-left:27px;
            padding-right:24px;
        }
    }

    &--btn-group{
        display:flex;
        gap:43px;
        justify-content: center;
        margin-bottom:43px;

        button{
            background-color:transparent;
            border: 0px;

            img{
                background: rgba(255, 255, 255, 0.47);
                border-radius: 10px;
            }
        }
    }

    &--desc{
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.065em;

        span{
            color:$btn;
        }
    }
}